body {
	background-color: red;
}

html {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#timer {
	font-weight: bold;
	font-size: 1.5em;
	position: absolute;
	top: 2em;
	left: 1.2em;
	color: rgb(255, 255, 255);
}

.Lise {
	width: 10em;
	position: relative;
	height: 10em;
}
.g {
	width: 30em;
}
.item html {
	position: absolute;
}
#circle {
	width: 20em;
}
/*svg {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}*/
.circle_animation {
	width: 30em;
	stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
	stroke-dashoffset: 440;
	transition: all 1s linear;
}
