
body{
    background-color: #BDA6ED;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.acceuil{
    max-width: 350px;
    margin-top: 4rem;
    margin-left: 20px;
}
