body{
    background-color: #BDA6ED;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.bulle{
    max-width: 300px;
    align-items: center;
   /* margin-left: 25px;*/
    margin-top: 80px;
    
}

.persopopo{
    position: absolute;
    right: 200px;

    width: 150px;
    margin-top: 250px;
   /* left: 80px;*/
  /* margin: 40px; */
}

.boutton{
    position: absolute;
    display: flex;
    align-items: center;
    /*margin: 40px; 
    margin-left: 55px; */
    max-width: 225px;
    margin-top: 100px;
    left: 100px;
}

.persototo{
    position: absolute;
    /* left:;
     right: ;
     */
     width: 130px;
     margin-top: 520px;
  /*   margin: 40px; */  
     left: 240px;
}