body {
    background-color: #CDC2FC;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;

}

.aide{
    margin-top: 20px;
    margin-left: 300px;
    width: 40px;
   /* margin-bottom: 20px; */
}

h1 {
    font-family: 'Righteous', cursive;
    color: white;
    margin: 30px;
    font-size: 2rem;
    margin-bottom: 70px;
    margin-top: 40px;
}

.question {  
    background-color: white;
    width: 270px;
    text-align: center;
    font-size: 1.3rem;
   
    color: #F2897D;
    padding: 25px;
    border: 2px solid #F2897D;
    border-radius: 20px;
    
}

/*    progress {
        writing-mode: horizontal-tb !important;
        color: #F2897D;
        appearance: auto;
        box-sizing: border-box;
        display: inline-block;
        height: 6em;
        width: 10em;
        vertical-align: -0.2em;
        text-decoration-color: white;
}

.progression{
    background-color: #8ECF9E;
}
*/

/*progress {
    accent-color: #F2897D;
    
  }*/

  .progress-container {
    background-color: white;
    width: 270px;
    text-align: center;
    font-size: 1.3rem;
   
    color: #F2897D;
    padding: 25px;
    border: 2px solid #F2897D;
    border-radius: 20px;


      margin-top: 2rem;
    position: relative;
    border: none;
    display: inline-block;
    background: #F2897D;
    height: 20px;
    border-radius: 6px;
    overflow: hidden;

  }



  .progress-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 75%;
    background: #8ECF9E;
  }
    
  .info {
      display: flex;
      text-align: center;
      
  }
  .grid{
      margin-top: 15px;
      margin-bottom: 50px;
      line-height: 20px;
      display: grid;
      grid-template-columns: 175px 175px;
font-size: 15px;
color: white;
  }



button {
    border: #F2897D;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    width: 150px;
    height: 70px;
    color: white;
    background-color: #F2897D;
    font-size: 1.3rem;
    transform: rotate(10deg);
}