body{
    background-color: #F2897D;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}


.acceuil{
    margin-top: 6rem;
    max-width: 300px;
    
    align-items: center;
   /* margin-left: 25px;
    margin-top: 80px; */

}